* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 10px;
    padding: 40px 0 0;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 10px;
    background: #F1F1F1;
    color: #C1C1C1;
}

.container {
    margin: 0 auto;
    max-width: 85%;
    width: 96%;
}

/* Header */

.search__input {
    width: 80%;
    outline: none;
    background-color: #f1f1f1;
    border: #c1c1c1;
    font-size: 11.5rem;
    font-weight: 700;
    color: #ec5a62;
    padding: 5px 80px 0 0;
    justify-content: start; 
}

.search__input::placeholder {
    opacity: .5;
}


.btn {
    padding: 10px 0;
    width: 9%;
    margin: auto;
    background-color: #f1f1f1;
    text-decoration: none;
    outline: #f1f1f1;
    border: none;
    justify-content: end;
    transition: all .25s ease-in-out;
}

.btn:hover,
.btn:focus,
.btn:active {
    width: 10%;
}

/* Main */

section {
    display: inline-block;
    width: 32.5%;
    text-align: left;
}

ul {
    padding: 0;
    margin-right: 10%;
}

h2 {
    padding: 10px;
}

span {
    display: inline-block;
    width: 60%;
    /* text-overflow: hidden; */
    text-align: left;
    vertical-align: middle;
    color: #AEAEB0;
    padding: 5px;
    font-size: 1.4rem;
    font-weight: bold;
}

.link {
    list-style: none;
    background-color: #EBEBED;
    border-radius: 5%;
    margin: 5px 0;
    padding: 12px;
}

.link:hover,
.link:focus,
.link:active {
    background-color: #E4E4E6;
    color: #CD6B75;
}

.img__round {
    border-radius: 50%;
    padding: 10px;
}